<h1>this is alii {{title}}</h1>

<h3 [ngStyle] = "{'color': 'green'}" >this is for white space</h3>
<app-employee></app-employee>
<button>click1</button> <button>click1</button> <button>click1</button> <button>click1</button>
<hr>




<h3 [ngStyle] = "{'color': 'green'}">directive</h3>
<h3>thsi is simple component directive example</h3>
<div (click)="btnclick()">component directive</div>

<h3 *ngIf = "checkTrueAndFalse">stucture Directives->
    they add and remove the html element into the view</h3>

<h3 [ngStyle]= "{'color': 'pink', 'font-weight': 'bold '}" >Attribute Directives = this is for modify the appearance of the dom elements
    there are 2 type of the built in Attribute Directives
        a)ngStyle
        b)ngClass  
</h3>
<hr>




<h3 [ngStyle] = "{'color': 'green'}">*ngIf example : note that this add and remove the elemtnt into the dom</h3>
<input type="radio" name="radio1" (click)= "giveTrueValue()"> True
<input type="radio" name="radio1" (click)= "giveFalseValue()"> False

<div *ngIf = "ifelseVariable">show if true</div>
<div *ngIf = "!ifelseVariable">show if false</div>
<hr>

<h3 [ngStyle] = "{'color': 'green'}">*ngIf with else example : note that this add and remove the elemtnt into the dom</h3>
<input type="radio" name="radio1" (click)= "giveTrueValue()" > True
<input type="radio" name="radio1" (click)= "giveFalseValue()"> False

<div *ngIf = "ifelseVariable; else referenceVariableForElseBlock1" >show if true</div>
<ng-template #referenceVariableForElseBlock1>
    <div>show if false</div>
</ng-template>

<!-- <div *ngIf = "!ifelseVariable">show if false</div> -->
<hr>





<h3 [ngStyle] = "{'color': 'green'}">*ngIf with thenBlock and else example : note that this add and remove the elemtnt into the dom</h3>
<input type="radio" name="radio1" (click)= "giveTrueValue()" > True
<input type="radio" name="radio1" (click)= "giveFalseValue()"> False

<div *ngIf = "ifelseVariable; then referenceVariableForThenBlock1 else referenceVariableForElseBlock2" ></div>
<ng-template #referenceVariableForThenBlock1>
    <div>show if true</div>
</ng-template>
<ng-template #referenceVariableForElseBlock2>
        <div>show if false</div>
</ng-template>

<!-- <div *ngIf = "!ifelseVariable">show if false</div> -->
<hr>




<h3 [ngStyle] = "{'color': 'green'}">using ngSwitch directive : note that this add and remove the elemtnt into the dom</h3>
<select name="" id="" (change) ="getTheValueOfSelectElement($event)">
    <option value="">select value</option>
    <option value="1">one</option>
    <option value="2">two</option>
    <option value="3">three</option>
    <option value="4">four</option>
    <option value="5">default</option>
</select>

<span [ngSwitch]="targetvalue">
    <p *ngSwitchCase="1">
        you select one
    </p>
    <p *ngSwitchCase="2">
        you select two
    </p>
    <p *ngSwitchCase="3">
        you select three
    </p>
    <p *ngSwitchCase="4">
        you select four
    </p>
    <p *ngSwitchDefault>
        you select default
    </p>
</span>

<hr>







<h3 [ngStyle] = "{'color': 'green'}">*ngFor with local variable</h3>
<ul>
    <li *ngFor="let student of students; let i = index; let f = first; let l = last; let e = even; let o = odd">
        {{student.name}}
        index-> {{i+1}}
        forFirst-> {{f}}
        forLast-> {{l}}
        forEven-> {{e}}
        forOdd-> {{o}}
    </li>
</ul>

<!-- <div *ngIf = "!ifelseVariable">show if false</div> -->
<hr>




<h3 [ngStyle] = "{'color': 'green'}">*ngFor with with trackBy</h3>
<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>address</th>
    </tr>

    <tr *ngFor="let student of studentsWithTrackBy; let i = index; trackBy: studentsWithTrackByForRecognize">
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.address}}</td>
    </tr>
</table>

<button (click)="addOnatherDataWithExistsData()">addOnatherDataWithExistsData</button>


<!-- <div *ngIf = "!ifelseVariable">show if false</div> -->
<hr>






<h3 [ngStyle] = "{'color': 'green'}">*ngFor with group</h3>
<ul>
    <li *ngFor="let student of studentsWithGroup; let i = index">
        {{student.id}}
        {{student.name}}
        {{student.address}}

        <ul >
            <li *ngFor="let item of student.state">
                {{item.name}}
            </li>
        </ul>
    
    </li>
</ul>

<!-- <div *ngIf = "!ifelseVariable">show if false</div> -->
<hr>





<h3 [ngStyle] = "{'color': 'green'}">*ngStyle Directives(this is predefined as ngFor, ngIf etc)</h3>
<ul>
    <ng-container *ngFor="let student of ngStyleDirective; let i = index">
        <li [ngStyle]="{'color': giveColorAccordingToCountry(student.country)}">
            {{student.name}}
        </li>
    </ng-container>

</ul>

<!-- <div *ngIf = "!ifelseVariable">show if false</div> -->
<hr>



<h3 [ngStyle] = "{'color': 'green'}">*ngClass Directives with for loop(this is predefined as ngFor, ngIf etc)</h3>
<p [ngClass]="'one two'">using ngClass with string Example</p>

<h3 [ngStyle] = "{'color': 'green'}">*ngClass Directives as a array(this is predefined as ngFor, ngIf etc)</h3>
<p [ngClass]="['one two']">using ngClass as a array</p>

<h3 [ngStyle] = "{'color': 'green'}">*ngClass Directives as a object(this is predefined as ngFor, ngIf etc)</h3>
<p [ngClass]="{'one': true}">using ngClass as a object</p>

<h3 [ngStyle] = "{'color': 'green'}">*ngClass Directives as a methode(this is predefined as ngFor, ngIf etc)</h3>
<p [ngClass]="getAColor('getOn')">using ngClass as a methode</p>


<ul>
    <ng-container *ngFor="let student of ngStyleDirective; let i = index">
        <li [ngClass]="'three four'">
            {{student.name}}
        </li>
    </ng-container>

</ul>

<!-- <div *ngIf = "!ifelseVariable">show if false</div> -->
<hr>
<hr>





<h3 [ngStyle] = "{'color': 'green'}">Binding(interpolation(one way))</h3>
<h2>first Name: {{firstName}}</h2>
<h2>last Name: {{lastName}}</h2>
<h2>full Name: {{firstName+' '+lastName}}</h2>
<h2>the addition of a and b is : {{a+b}}</h2>

<!-- <div *ngIf = "!ifelseVariable">show if false</div> -->
<hr>



<h3 [ngStyle] = "{'color': 'green'}">Binding(propertis(one way))</h3>
<!-- bcs innerHtml is a property we kw that (Ex: p.innerHtml) -->
<span [innerHtml] = 'firstNamePro'></span><br>
<span [innerHtml] = 'lastNamePro'></span>
<img [height] = '100' [src] = '"https://angular.io/assets/images/logos/angular/angular.svg"' alt="">

<!-- <div *ngIf = "!ifelseVariable">show if false</div> -->
<hr>



<h3 [ngStyle] = "{'color': 'green'}">Binding(attribute(one way))</h3>
<!-- bcs innerHtml is a attribute we kw that (Ex: colspan) -->
<img [attr.height] = '100' [attr.src] = '"https://angular.io/assets/images/logos/angular/angular.svg"' alt="">

<table [attr.border]="aAtt">
    <tr>
        <th [attr.colspan]='aAtt'>headin</th>
    </tr>
    <tr>
        <td>ali</td>
        <td>ali</td>
        <td>ali</td>
    </tr>
    <tr>
        <td>ali</td>
        <td>ali</td>
        <td>ali</td>
    </tr>
</table>

<!-- <div *ngIf = "!ifelseVariable">show if false</div> -->
<hr>



<h3 [ngStyle] = "{'color': 'green'}">Binding(Event(one way))</h3>
<button (click)="onClick1()">Click1</button>
<button (click)="onClick2('go to value')">Click2</button>

<!-- <div *ngIf = "!ifelseVariable">show if false</div> -->
<hr>




<h3 [ngStyle] = "{'color': 'green'}">Binding(Two way(two way(without ngModel)))</h3>
<!-- withOut ngModel -->
<input type="text" [value] = 'towway' (input) = 'towway = $event.target.value'>
you enter : {{towway}}
<!-- with ngModel -->
<input type="text" [(ngModel)]="towway1">
you enter : {{towway1}}

<!-- <div *ngIf = "!ifelseVariable">show if false</div> -->
<hr>



<h3 [ngStyle] = "{'color': 'green'}">Pips</h3>
<table border="1">
    <tr>
        <td>Name</td>
        <td>Price</td>
        <td>Address</td>
    </tr>
    <tr *ngFor="let item of pips1">
        <td>{{item.name | uppercase }}</td>
        <td>{{item.price}}</td>
        <td>{{item.add}}</td>
    </tr>
</table>
<hr>



<h3 [ngStyle] = "{'color': 'green'}">Paramitarized Pips</h3>
normal Date: {{date1}} <br>
normal Date: {{date1 | date}} <br>
normal Date medium: {{date1 | date: 'medium'}} <br>
normal Date specific formate: {{date1 | date: "yyyy/MM/dd"}} <br>
normal Date only time: {{date1 | date: "mediumTime"}} <br>
salary: {{salary1}} <br>
salary: {{salary1 | currency:'USD' :true}} <br>
salary: {{salary1 | currency}} <br>
<hr>




<h3 [ngStyle] = "{'color': 'green'}">some more pipes(for strings)</h3>
upperCase: {{nameStriPip| uppercase}} <br>
lowerCase: {{nameStriPip | lowercase }} <br>
tilCase: {{addStriPip | titlecase }} <br>
slice: {{addStriPip | slice: 3 }} <br>
tilCase: {{addStriPip | slice: 1:2 }} <br>
<hr>




<h3 [ngStyle] = "{'color': 'green'}">Custome Pips</h3>
<table border="1">
    <tr>
        <td>Name</td>
        <td>Price</td>
        <td>Address</td>
    </tr>
    <tr *ngFor="let item of pipsCustome">
        <td>{{item.name | uppercase | mypipe: item.name }}</td>
        <td>{{item.price}}</td>
        <td>{{item.add}}</td>
    </tr>
</table>
<hr>




<h3 [ngStyle] = "{'color': 'green'}">this is for routing (on the client side bcs we give the string directly that route see on the routing module) this is called static bcs we configure the route statically on the router configuration</h3>
<!-- this is for routing (on the client side bcs we give the string directly that route see on the routing module) -->
<a [routerLink]="[ '/student' ]">go to the student Component</a> <br>
<a [routerLink]="[ '/studentDetails' ]">go to students details</a> <br>

<hr>




<h3 [ngStyle] = "{'color': 'green'}">this is for routing (on the server side bcs our component are load on the server side)</h3>
<!-- this is for routing (on the server side bcs our component are load on the server side) -->
<button class="btn" (click)="onTheServer()">component load on the server side</button>
<hr>



<h3 [ngStyle] = "{'color': 'green'}">wildcard (no earlier rout match,then which route will be active)</h3>
<!-- this is for routing (on the server side bcs our component are load on the server side) -->
<a [routerLink]="[ '/nomatch' ]">no match for this</a> <br>
<hr>


<router-outlet></router-outlet>





<!-- <app-employeelogin></app-employeelogin> -->